.dataJob {
  border-width: 0px;
  border-radius: 8px;
  padding: 20px;
  background-color: rgb(60, 59, 59);
}
.logoImgInfo {
  width: 60px;
}
.imgContainer {
  display: flex;
  gap: 20px;
}

.imgStar {
  display: flex;
  gap: 8px;
}
.jobType {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.intern {
  display: flex;
  gap: 20px;
}
.descripPart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 12px 0px;
}
.decriptionText {
  margin: 18px 2px;
}
.textDescrip {
  font-size: 26px;
}
.imgSkills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 12px;
}
.skillCard {
  margin: 10px 2px;
}
.imgItems {
  width: 60px;
}
.listItem {
  gap: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lifeCard {
  justify-content: space-between;
  display: flex;

  margin: 20px 2px;
}
.textConetent {
  width: 80%;
}
.linkCard {
  display: flex;
  gap: 9px;
}
.visit {
  color: rgb(40, 230, 107);
}

@media (max-width: 640px) {
  .lifeCard {
    justify-content: space-between;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .textConetent {
    width: 95%;
  }
  .titleInfo {
    font-size: 24px;
  }
  .logoImgInfo {
    width: 40px;
    height: 40px;
  }
  .imglife {
    width: 100%;
  }
  .lifeInfoText {
    font-size: 24px;
    margin: 14px 0px;
  }
}
