.formContainer {
  background-color: #001f3f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.align {
  text-align: center;
}
.cred {
  /* background-color: white; */
  color: white;
  margin: 20px 0px;
  text-align: center;
}
@media (max-width: 678px) {
  .authori {
    font-size: 26px;
  }
}
.formCard {
  border-radius: 8px;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  align-items: center;
  background: #080707b8;
  box-shadow: 0px 00px 20px #ffffff;
}

.websiteLogin {
  text-align: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputUsername {
  border-color: aqua;
  font-size: 28px;
  color: black;
  display: block;
  margin: 15px 0px;
  padding: 5px 15px;
  width: 90%;
  height: 60px;
  outline: none;
  background: #ffffff;
  border-radius: 8px;
}

.labelUsername {
  color: white;
  font-size: 25px;
}

@media (min-width: 786px) {
  .formCard {
    border-radius: 8px;
    width: 40%;
    box-shadow: 0px 20px 20px hsl(0, 0%, 15%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: center;
  }
  .btndiv {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 2px;
  }
  .formCard {
    background: #080707b8;
    box-shadow: 0px 00px 20px #ffffff;
  }
}

.btnLogin {
  background-color: #6366f1;
  padding: 12px;
  border-width: 0px;
  width: 80%;
  color: white;
  font-size: 26px;
  cursor: pointer;
  border-radius: 8px;
  margin: 1px 28px;
}
.error {
  color: red;
  font-size: 26px;
  font-weight: 300;
}
